@import "../../../BaseStyle/Basestyle.scss";

$white: #FFF;
$black: #000;
$text: #1F2937;
$buttonColor: #00A9BB;

$font-monsterat : 'Montserrat';

.rolePrivilege_container {
    box-sizing: border-box;
    position: relative;
    z-index: 2;

    * {
        box-sizing: border-box;
        font-family: $font-monsterat;
    }

    .header_flex {
        @include flexbox();
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        .title {
            margin: 0;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
            /* 133.333% */
            letter-spacing: 0.12px;
            color: $text;
        }

        .edit_btn {
            border: 1px solid #00A9BB;
            color: #00A9BB;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -1px -7px 7px 0px #FFF;
            border-radius: 8px;
            height: 48px;
            width: 86px;
            @include flexbox();
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:focus:not(:focus-visible) {
                outline: none;
            }

            background-color: transparent;

            .icon {
                width: 14px;
                height: 14px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
            }

            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            /* 142.857% */
            letter-spacing: 0.07px;
        }
    }

    .data_listing {
        margin: 0;
        padding: 0;
        // border-top: 1px solid #E5E7EB;

        .list_item {
            list-style: none;
            @include flexbox();
            align-items: flex-start;
            padding: 24px 0px;
            border-bottom: 1px solid #E5E7EB;

            &:last-child {
                border-bottom: none;
            }

            .label {
                display: inline-block;
                text-align: left;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 150% */
                letter-spacing: 0.08px;
                color: $text;
                width: 60%;
                margin-right: 16px;
            }

            .value {
                display: inline-block;
                width: 40%;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 150% */
                letter-spacing: 0.08px;
                color: #6B7280;
                text-align: left;

                .check_listing {
                    margin: 0;
                    padding: 0;

                    .check_item {
                        list-style: none;
                        margin-bottom: 8px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .MuiFormControlLabel-root {
                            align-items: flex-start;

                            .MuiCheckbox-root {
                                padding-top: 0;

                                &.Mui-checked {
                                    color: #00A9BB;

                                    svg {
                                        path {
                                            stroke: transparent !important;
                                        }
                                    }
                                }

                                svg {
                                    path {
                                        stroke: #E5E7EB !important;
                                    }
                                }
                            }

                            .MuiTypography-root {
                                font-family: $font-monsterat;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                                /* 150% */
                                letter-spacing: 0.08px;
                                color: $text
                            }
                        }

                    }
                }
            }
        }
    }

    .form_container {
        padding: 24px;

        .input_flexBox {
            @include flexbox();
            margin: 0 -10px 36px -10px;

            &.w-50 {
                width: 55%;
                margin: 0 -10px 36px -10px;

            }
        }

        .privilege_section {
            display: none;
            margin-bottom: 36px;

            .title {
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                /* 142.857% */
                letter-spacing: 0.07px;
                text-align: left;
                margin-bottom: 10px;
                margin-top: 0;
                color: $text;
            }

            .check_listing {
                margin: 0;
                padding: 0;

                .check_item {
                    list-style: none;
                    margin-bottom: 8px;
                    text-align: left;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .MuiFormControlLabel-root {
                        align-items: center;

                        .MuiCheckbox-root {
                            padding-top: 0;
                            padding-bottom: 0;

                            &.Mui-checked {
                                color: #00A9BB;

                                svg {
                                    path {
                                        stroke: transparent !important;
                                    }
                                }
                            }

                            svg {
                                path {
                                    stroke: #E5E7EB !important;
                                }
                            }
                        }

                        .MuiTypography-root {
                            font-family: $font-monsterat;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            /* 150% */
                            letter-spacing: 0.08px;
                            color: $text
                        }
                    }

                }
            }
        }

        .button-container {
            @include flexbox();
            justify-content: flex-end;

            .cancelBtn {
                width: 80px;
                color: $text;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                /* 142.857% */
                letter-spacing: 0.07px;
                box-shadow: 0px 2px 5px 2px inset rgba(0, 0, 0, 0.05);
                border-radius: 8px;
                border: 1px solid #E5E7EB;
                background-color: #F2F5FA;
                padding: 14px 16px;
                height: 48px;
                cursor: pointer;
                margin-right: 20px;
                @include flexbox();
                align-items: center;
                justify-content: center;

                &:focus:not(:focus-visible) {
                    outline: none;
                }
            }

            .savebtn {
                width: 66px;
                height: 48px;
                padding: 14px 16px;
                @include flexbox();
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: none;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -1px -7px 7px 0px #FFF;
                border-radius: 8px;
                background-color: #00A9BB;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                /* 142.857% */
                letter-spacing: 0.07px;
                color: $white;

                &:focus:not(:focus-visible) {
                    outline: none;
                }
            }
        }
    }
}