@import '../../BaseStyle/Basestyle.scss';


.commonTable_container {
    box-sizing: border-box;

    * {
        box-sizing: border-box;
        font-family: $font-monsterat;
    }

    .table_head {
        .table_row {
            @include flexbox();

            &.ln_5 {
                .thead {
                    width: 20%;
                }
            }

            .tabCheckBox {
                width: 44px;
                height: 56px;
                background-color: #F8FAFC;
                border-bottom: 1px solid #E5E7EB;
                border-right: 1px solid #E5E7EB;
                @include flexbox();
                align-items: center;
                justify-content: center;
                .MuiCheckbox-root {
                    &.Mui-checked{
                        color: #00A9BB;
                    }
                   
                }
            }
            .moreOptions{
                width: 44px;
                height: 56px;
                background-color: #F8FAFC;
                border-bottom: 1px solid #E5E7EB;  
            }

            .thead {
                height: 56px;
                padding: 10px 16px;
                background-color: #F8FAFC;
                border-bottom: 1px solid #E5E7EB;
                border-right: 1px solid #E5E7EB;
                @include flexbox();
                align-items: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                /* 142.857% */
                letter-spacing: 0.07px;
                color: #6B7280;

                .text {
                    display: inline-block;
                    margin-right: 4px;
                    text-transform: capitalize;
                    text-align: left;
                  
                }

                .icon {
                    display: inline-flex
                }
            }
        }
    }

    .tableBody {
        .tablerow {
            @include flexbox();

            &.ln_5 {
                .tableCell {
                    width: 20%;
                }
            }
            .tabCheckBox {
                width: 44px;
                height: 56px;
                background-color: $white;
                border-bottom: 1px solid #E5E7EB;
                border-right: 1px solid #E5E7EB;
                @include flexbox();
                align-items: center;
                justify-content: center;
                .MuiCheckbox-root {
                    &.Mui-checked{
                        color: #00A9BB;
                    }
                   
                }
                &.checked{
                    background-color: #E6F6F8;
                    ~ .tableCell{
                        background-color: #E6F6F8;
                        ~ .moreOptions{
                            background-color: #E6F6F8; 
                        }
                    }

                }
               
            }
            .tableCell {
                height: 56px;
                @include flexbox();
                align-items: center;
                padding: 4px 16px;
                background-color: $white;
                border-right: 1px solid #E5E7EB;
                border-bottom: 1px solid #E5E7EB;

                .text {
                    display: inline-block;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    /* 142.857% */
                    letter-spacing: 0.07px;
                    color: $text;
                    word-break: break-all;
                    word-break: break-word;
                    text-align: left;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;

                    &.link {
                        cursor: pointer;
                    }
                }
            }
            .moreOptions{
                width: 44px;
                height: 56px;
                @include flexbox();
                align-items: center;
                justify-content: center;
                border-bottom: 1px solid #E5E7EB;
                position: sticky;
                right: 0;
                z-index: 1;
                .icon{
                    display: inline-block;
                    cursor: pointer;

                }
            }

        }
    }
}


.editMenu {
    .MuiPaper-root{
        .MuiList-root{
            .MuiButtonBase-root{
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px; /* 142.857% */
                letter-spacing: 0.07px;
                color: $text;    
                font-family: $font-monsterat;
                .icon{
                    @include flexbox();
                    margin-right: 12px;
                    svg{
                        g{
                            path{
                                stroke: $text;
                            }
                        }
                    }
                }
            }
        }
    }
}
.loader_container{
    justify-content: center;
    height: 200px;
    align-items: center;
    @include flexbox();
    width: 100%;
}