@import "../../../BaseStyle/Basestyle.scss";

$font-monsterat : 'Montserrat';

.addNewProduct_container {
    box-sizing: border-box;

    * {
        box-sizing: border-box;
        font-family: $font-monsterat;
    }

    .backLink {
        margin-bottom: 24px;
        text-align: left;

        .link {
            display: inline-flex;
            cursor: pointer;
            align-items: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            /* 133.333% */
            letter-spacing: 0.06px;
            color: #6B7280;

            .icon {
                display: inline-block;
                margin-right: 4px;
            }
        }
    }

    .container_section {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background-color: #F2F5FA;
        border-radius: 12px;
        padding: 24px;

        .section_title {
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
            /* 133.333% */
            letter-spacing: 0.12px;
            margin-bottom: 8px;
            margin-top: 0;
            text-align: left;
        }

        .tabsContainer {
            .tabFlexContainer {
                .MuiTabs-root {
                    min-height: 40px;

                    .MuiTabs-scroller {
                        .MuiTabs-flexContainer {
                            .MuiButtonBase-root {
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 24px;
                                /* 150% */
                                letter-spacing: 0.08px;
                                color: $text;
                                text-transform: capitalize;
                                font-family: $font-monsterat;
                                padding: 8px 12px;
                                min-height: 40px;
                                border-bottom: 2px solid #E5E7EB;

                                &.Mui-selected {
                                    color: rgb(34, 229, 145);
                                    border-bottom: none;
                                }
                            }
                        }

                        .MuiTabs-indicator {
                            background-color: rgb(34, 229, 145);
                        }
                    }
                }
            }

            .tabContentContainer {
                .MuiBox-root {
                    padding-top: 20px;
                    padding-left: 0;
                    padding-right: 0;
                    padding-bottom: 0;

                    .productDetail_container {

                        .first_flexbox,
                        .second_flexbox {
                            margin-bottom: 14px;
                            @include flexbox();
                            flex-wrap: wrap;
                            row-gap: 10px;

                            .inputBox {
                                @include flexbox();

                                .inputField {
                                    width: 100%;
                                }
                            }

                            .leftCol {
                                width: 40%;
                                padding-right: 10px;

                                .qrCodeFlexBox {
                                    @include flexbox();

                                    .leftCol {
                                        width: calc(100% - 136px);
                                        margin-right: 10px;

                                        .title {
                                            text-align: left;
                                            @include flexbox();
                                            align-items: center;
                                            font-size: 14px;
                                            font-style: normal;
                                            font-weight: 500;
                                            line-height: 20px;
                                            /* 142.857% */
                                            letter-spacing: 0.07px;
                                            color: $text;
                                            margin: 0 0 10px 0;

                                            .icon {
                                                display: inline-flex;
                                                margin-left: 10px;
                                            }
                                        }

                                        .qrcodeinfo_list {
                                            margin: 0;
                                            padding: 0 0 0 15px;

                                            li {
                                                font-size: 12px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 16px;
                                                /* 133.333% */
                                                letter-spacing: 0.06px;
                                                color: #6B7280;
                                                text-align: left;
                                            }
                                        }
                                    }

                                    .rightCol {
                                        width: 126px;

                                        .actions {
                                            @include flexbox();
                                            flex-direction: column;
                                            row-gap: 10px;

                                            .autoBtn {
                                                padding: 10px 12px;
                                                height: 40px;
                                                border-radius: 8px;
                                                border: none;
                                                cursor: pointer;

                                                &:focus:not(:focus-visible) {
                                                    outline: none;
                                                }

                                                font-size: 14px;
                                                font-style: normal;
                                                font-weight: 600;
                                                line-height: 20px;
                                                /* 142.857% */
                                                letter-spacing: 0.07px;
                                                color: #00A9BB;
                                                @include flexbox();
                                                align-items: center;
                                                justify-content: center;
                                                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                                                background-color: #E6F6F8;
                                                white-space: nowrap;
                                            }

                                            .scanBtn {
                                                @include flexbox();
                                                align-items: center;
                                                justify-content: center;
                                                cursor: pointer;
                                                padding: 10px 12px;
                                                height: 40px;
                                                border-radius: 8px;
                                                border: none;
                                                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                                                &:focus:not(:focus-visible) {
                                                    outline: none;
                                                }

                                                background-color: #00A9BB;
                                                color: $white;
                                                font-size: 14px;
                                                font-style: normal;
                                                font-weight: 600;
                                                line-height: 20px;
                                                /* 142.857% */
                                                letter-spacing: 0.07px;
                                                white-space: nowrap;
                                            }
                                        }
                                    }
                                }
                            }

                            .rightCol {
                                width: 60%;
                                margin-right: -10px;
                                margin-left: 10px;
                                @include flexbox()
                            }
                        }

                        .first_flexbox {
                            margin: 0 -10px 14px -10px;
                        }

                        .third_flexbox {
                            margin-bottom: 14px;
                            @include flexbox();
                            column-gap: 16px;

                            .leftCol {
                                width: 50%;

                                .title {
                                    text-align: left;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 16px;
                                    /* 133.333% */
                                    letter-spacing: 0.06px;
                                    color: $black;
                                    margin-top: 0;
                                    margin-bottom: 4px;
                                }

                                .flexbox {
                                    @include flexbox();
                                    flex-wrap: wrap;
                                    row-gap: 4px;
                                    margin: 0 -10px;

                                    .inputBox {
                                        @include flexbox();

                                        .inputField {
                                            .input_element {
                                                height: 36px;
                                            }
                                        }
                                    }
                                }
                            }

                            .rightCol {
                                width: 50%;

                                .title {
                                    text-align: left;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 16px;
                                    /* 133.333% */
                                    letter-spacing: 0.06px;
                                    color: $black;
                                    margin-top: 0;
                                    margin-bottom: 4px;
                                }

                                .flexbox {
                                    @include flexbox();
                                    flex-wrap: wrap;
                                    row-gap: 10px;
                                    margin: 0 -10px;

                                    .inputBox {
                                        @include flexbox();

                                        .inputField {
                                            .input_element {
                                                height: 36px;
                                            }

                                            .MuiInputBase-root {
                                                .MuiSelect-select {
                                                    height: 36px;
                                                    @include flexbox();
                                                    align-items: center;
                                                }
                                            }
                                        }
                                    }
                                }
                            }


                        }

                        .bottom_flexbox {
                            padding-top: 16px;
                            border-top: 1px solid #D1D5DB;

                            .leftCol {
                                width: 60%;
                                @include flexbox();
                                flex-wrap: wrap;
                                row-gap: 10px;
                                margin: 0 -10px;

                                .inputBox {
                                    @include flexbox();

                                    .inputField {

                                        .input_element,
                                        .MuiSelect-select {
                                            height: 36px;
                                            @include flexbox();
                                            align-items: center;
                                        }
                                    }
                                }
                            }
                        }


                    }

                    .eCommerceDetails-container {
                        box-sizing: border-box;

                        * {
                            box-sizing: border-box;
                            font-family: $font-monsterat;
                        }

                        .categoryLevelFlexbox {
                            @include flexbox();
                            margin-left: -10px;
                            margin-right: -10px;
                            margin-bottom: 10px;
                        }

                        .canDisplay {
                            text-align: left;

                            .MuiFormControl-root {
                                @include flexbox();
                                flex-direction: row;
                                align-items: center;

                                >.MuiFormLabel-root {
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 20px;
                                    /* 142.857% */
                                    letter-spacing: 0.07px;
                                    color: $text;
                                    margin-right: 10px;
                                }

                                .MuiFormGroup-root {
                                    @include flexbox();
                                    flex-direction: row;

                                    .MuiFormControlLabel-root {
                                        .MuiButtonBase-root {
                                            &.Mui-checked {
                                                color: rgb(34, 229, 145);
                                            }
                                        }

                                        .MuiTypography-root {
                                            font-size: 16px;
                                            font-style: normal;
                                            font-weight: 500;
                                            line-height: 24px;
                                            /* 150% */
                                            letter-spacing: 0.08px;
                                            color: $text;
                                        }
                                    }
                                }
                            }
                        }

                        .second_flexbox {
                            @include flexbox();
                            flex-wrap: wrap;
                            row-gap: 10px;
                            margin-bottom: 16px;
                            margin-left: -10px;
                            margin-right: -10px;
                        }

                        .bottom_flexbox {
                            padding-top: 16px;
                            border-top: 1px solid #D1D5DB;
                            @include flexbox();
                            flex-wrap: wrap;
                            row-gap: 11.5px;
                            margin-left: -10px;
                            margin-right: -10px;
                        }

                        .actionFlexbox {
                            margin-top: 100px;
                        }
                    }

                    .actionFlexbox {
                        margin-top: 8px;
                        @include flexbox();
                        align-items: center;
                        justify-content: space-between;

                        .draftBtn {
                            width: 114px;
                            height: 48px;
                            border: none;
                            cursor: pointer;

                            &:focus:not(:focus-visible) {
                                outline: none;
                            }

                            border-radius: 8px;
                            padding: 14px 16px;
                            white-space: nowrap;
                            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                            color: #00A9BB;
                            background-color: #E6F6F8;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 20px;
                            /* 142.857% */
                            letter-spacing: 0.07px;
                            @include flexbox();
                            align-items: center;
                            justify-content: center;
                        }

                        .rightCol {
                            @include flexbox();
                            align-items: center;
                            column-gap: 20px;

                            .canceltBtn {
                                cursor: pointer;

                                &:focus:not(:focus-visible) {
                                    outline: none;
                                }

                                border: 1px solid #00A9BB;
                                color: #00A9BB;
                                height: 48px;
                                padding: 14px 16px;
                                border-radius: 8px;
                                white-space: nowrap;
                                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                                @include flexbox();
                                align-items: center;
                                justify-content: center;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 20px;
                                /* 142.857% */
                                letter-spacing: 0.07px;
                                white-space: nowrap;
                                background-color: transparent;
                                width: 114px;
                            }

                            .nextBtn {
                                @include flexbox();
                                align-items: center;
                                justify-content: center;
                                height: 48px;
                                padding: 14px 16px;
                                border-radius: 8px;
                                cursor: pointer;

                                &:focus:not(:focus-visible) {
                                    outline: none;
                                }

                                border: none;
                                background-color: #00A9BB;
                                color: $white;
                                font-size: 14px;
                                width: 114px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 20px;
                                /* 142.857% */
                                letter-spacing: 0.07px;
                                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                            }
                        }
                    }
                    .uploadProduct_container{
                        .section_title{
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 20px; /* 142.857% */
                            letter-spacing: 0.07px;
                            color: $text;
                            margin-top: 0;
                            margin-bottom: 10px;    
                        }
                        .uploadBox{
                            width: 100%;
                            max-width: 672px;
                            height: 162px;
                            border-radius: 12px;
                            padding: 48px;
                            background-color: $white;
                            border: 1px dashed #E5E7EB;
                            @include flexbox();
                            align-items: center;
                            justify-content: center;
                            .uploadInfo{
                                margin: 0;
                                @include flexbox();
                                flex-direction: column;
                                align-items: center;
                                cursor: pointer;
                                .title{
                                    text-align: center;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 24px; /* 150% */
                                    letter-spacing: 0.08px;
                                    color: $text;
                                    @include flexbox();
                                    justify-content: center;
                                    margin: 0 0 4px 0;
                                    .blue{
                                        display: inline-block;
                                        color: #00A9BB;
                                        margin-left: 5px;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 600;
                                        line-height: 24px; /* 150% */
                                        letter-spacing: 0.08px;  
                                    }
                                }
                                .maxlimit{
                                    display: block;
                                    text-align: center;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 20px; /* 142.857% */
                                    letter-spacing: 0.07px;
                                    color: #9CA3AF;
                                    width:100%;
                                    max-width: 230px; 
                                }
                            }
                            &.uploaded{
                                height: auto;
                                background-color: transparent;
                                border: none;
                                max-width: initial;
                                column-gap: 20px;
                                padding: 0;
                                justify-content: flex-start;
                                align-items: stretch;
                                // align-items: flex-start;
                                .dropzone{
                                    width: calc(20% - 0px);
                                    background-color: $white;
                                    border-radius: 12px;
                                    @include flexbox();
                                    align-items: center;
                                    justify-content: center;
                                }
                                .thumbnail{
                                    width: calc(20% - 0px);
                                    background-color: $white;
                                    border-radius: 12px;
                                    padding: 2px 23px;
                                    @include flexbox();
                                    position: relative;
                                    aspect-ratio: 203/142;
                                    .close{
                                        cursor: pointer;
                                        display: inline-flex;
                                        position: absolute;
                                        right: 12px;
                                        top: 6px;
                                        width: 16px;
                                        height: 16px;
                                    }
                                    .upload-img{
                                        max-width: 100%;
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }


    }
}




@media screen and (min-width:1500px) {

    .inputBox {
        @include flexbox();

        &.lg-15 {
            width: 15%;
        }

        &.lg-10 {
            width: 10%;
        }

        &.lg-40 {
            width: 40%;
        }

        &.lg-50 {
            width: 50%;
        }

        &.lg-20 {
            width: 20%;
        }

        &.lg-25 {
            width: 25%;
        }

        &.lg-30 {
            width: 33.33%;
        }
    }

}

@media screen and (max-width:1499px) {

    .inputBox {
        @include flexbox();

        &.sm-10 {
            width: 10%;
        }

        &.sm-15 {
            width: 15%;
        }

        &.sm-40 {
            width: 40%;
        }

        &.sm-50 {
            width: 50%;
        }

        &.sm-20 {
            width: 20%;
        }

        &.sm-25 {
            width: 25%;
        }

        &.sm-30 {
            width: 33.33%;
        }
    }


}