@import '../../../BaseStyle/Basestyle.scss';

$font-monsterat: 'Montserrat';

.addNewProduct_container {
    min-height: calc(100vh - 288px);
    box-sizing: border-box;

    * {
        box-sizing: border-box;
        font-family: $font-monsterat;
    }

    .backLink {
        margin-bottom: 24px;
        text-align: left;

        .link {
            display: inline-flex;
            cursor: pointer;
            align-items: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            /* 133.333% */
            letter-spacing: 0.06px;
            color: #6b7280;

            .icon {
                display: inline-flex;
                align-items: center;
                margin-right: 4px;
            }
        }
    }

    .container_section {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background-color: #f2f5fa;
        border-radius: 12px;
        padding: 24px;
        min-height: calc(100vh - 336px);
        &.preview {
            box-shadow: none;
            padding: 0;
        }

        .section_title {
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
            /* 133.333% */
            letter-spacing: 0.12px;
            margin-bottom: 8px;
            margin-top: 0;
            text-align: left;
        }

        .header_section {
            .section_flexbox {
                @include flexbox();
                margin-bottom: 20px;
                align-items: center;
                justify-content: space-between;
                border-radius: 12px 12px 0px 0px;
                padding: 8px 20px;
                background-color: #f2f5fa;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                .leftInfo_flexbox {
                    @include flexbox();
                    .imgBox {
                        width: 56px;
                        height: 56px;
                        margin-right: 20px;
                        .preview {
                            max-width: 100%;
                            height: auto;
                            width: 100%;
                        }
                    }
                    .info {
                        .flexbox {
                            @include flexbox();
                            .title {
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 28px; /* 140% */
                                letter-spacing: 0.1px;
                                color: $text;
                                margin: 0;
                                text-align: left;
                            }
                            .status {
                                margin-left: 20px;
                                height: 28px;
                                border-radius: 6px;
                                &.green {
                                    background-color: #ccfbf1;
                                    padding: 6px 6px 6px 22px;
                                    position: relative;
                                    &::before {
                                        content: '';
                                        display: inline-block;
                                        position: absolute;
                                        width: 6px;
                                        height: 6px;
                                        background-color: #134e4a;
                                        border-radius: 50%;
                                        left: 6px;
                                        top: 50%;
                                        transform: translateY(-50%);
                                    }
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 16px; /* 133.333% */
                                    letter-spacing: 0.06px;
                                    color: #134e4a;
                                }
                            }
                        }
                        .lastUpdated {
                            display: block;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16px; /* 133.333% */
                            letter-spacing: 0.06px;
                            color: #6b7280;
                            margin-top: 8px;
                            text-align: left
                        }
                    }
                }
                .rightInfo_flexbox {
                    @include flexbox();
                    align-items: center;
                    column-gap: 8px;
                    .histroyBtn {
                        border-radius: 8px;
                        padding: 10px 12px;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        border: none;
                        height: 40px;
                        cursor: pointer;
                        background-color: $buttonColor;
                        color: $white;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 20px; /* 142.857% */
                        letter-spacing: 0.07px;
                        white-space: nowrap;
                        &:focus:not(:focus-visible) {
                            outline: none;
                        }
                    }
                    .stockBtn {
                        height: 40px;
                        cursor: pointer;
                        border-radius: 8px;
                        padding: 10px 12px;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        white-space: nowrap;
                        background-color: #e6f6f8;
                        &:focus:not(:focus-visible) {
                            outline: none;
                        }
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 20px; /* 142.857% */
                        letter-spacing: 0.07px;
                        color: $buttonColor;
                        border: none;
                    }
                }
            }
        }
        .tabsContainer {
            min-height: calc(100% - 40px);

            .tabFlexContainer {
                position: relative;
                .MuiTabs-root {
                    min-height: 40px;

                    .MuiTabs-scroller {
                        .MuiTabs-flexContainer {
                            .MuiButtonBase-root {
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 24px;
                                /* 150% */
                                letter-spacing: 0.08px;
                                color: $text;
                                text-transform: capitalize;
                                font-family: $font-monsterat;
                                padding: 8px 12px;
                                min-height: 40px;
                                border-bottom: 2px solid #e5e7eb;

                                &.Mui-selected {
                                    color: rgb(34, 229, 145);
                                    border-bottom: none;
                                }
                            }
                        }

                        .MuiTabs-indicator {
                            background-color: rgb(34, 229, 145);
                        }
                    }
                }
                .editBtn {
                    position: absolute;
                    z-index: 1;
                    right: 0;
                    top: -5px;
                    background-color: transparent;
                    border: 1px solid $buttonColor;
                    color: $buttonColor;
                    cursor: pointer;
                    padding: 14px 16px;
                    border-radius: 8px;
                    @include flexbox();
                    align-items: center;
                    justify-content: center;
                    width: 86px;
                    height: 48px;
                    white-space: nowrap;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px; /* 142.857% */
                    letter-spacing: 0.07px;
                    .icon {
                        margin-right: 10px;
                        display: inline-flex;
                        svg {
                            g {
                                path {
                                    stroke: $buttonColor;
                                }
                            }
                        }
                    }
                }
            }

            .tabContentContainer {
                min-height: calc(100% - 42px);

                .MuiBox-root {
                    padding-top: 20px;
                    padding-left: 0;
                    padding-right: 0;
                    padding-bottom: 0;
                    height: 100%;
                    position: relative;
                    .loader_container {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        background-color: #f2f5fa;
                        display: none;
                        &.show {
                            @include flexbox();
                        }
                    }
                    .productDetail_container {
                        .first_flexbox,
                        .second_flexbox {
                            margin-bottom: 14px;
                            @include flexbox();
                            flex-wrap: wrap;
                            row-gap: 10px;

                            .inputBox {
                                @include flexbox();

                                .inputField {
                                    width: 100%;
                                }
                            }

                            .leftCol {
                                width: 40%;
                                padding-right: 10px;
                                &.preview {
                                    width: 20%;
                                    .qrCodeFlexBox {
                                        .leftCol {
                                            width: 100%;
                                        }
                                        .qrCode_container {
                                            width: 60px;
                                            height: 60px;
                                            .qrcode-icon {
                                                width: 100%;
                                                max-width: 100%;
                                                height: auto;
                                            }
                                        }
                                    }
                                }
                                .qrCodeFlexBox {
                                    @include flexbox();

                                    .leftCol {
                                        width: calc(100% - 136px);
                                        margin-right: 10px;

                                        .title {
                                            text-align: left;
                                            @include flexbox();
                                            align-items: center;
                                            font-size: 14px;
                                            font-style: normal;
                                            font-weight: 500;
                                            line-height: 20px;
                                            /* 142.857% */
                                            letter-spacing: 0.07px;
                                            color: $text;
                                            margin: 0 0 10px 0;

                                            .icon {
                                                display: inline-flex;
                                                margin-left: 10px;
                                            }
                                        }

                                        .qrcodeinfo_list {
                                            margin: 0;
                                            padding: 0 0 0 15px;

                                            li {
                                                font-size: 12px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 16px;
                                                /* 133.333% */
                                                letter-spacing: 0.06px;
                                                color: #6b7280;
                                                text-align: left;
                                            }
                                        }
                                    }

                                    .rightCol {
                                        width: 126px;

                                        .actions {
                                            @include flexbox();
                                            flex-direction: column;
                                            row-gap: 10px;

                                            .autoBtn {
                                                padding: 10px 12px;
                                                height: 40px;
                                                border-radius: 8px;
                                                border: none;
                                                cursor: pointer;

                                                &:focus:not(:focus-visible) {
                                                    outline: none;
                                                }

                                                font-size: 14px;
                                                font-style: normal;
                                                font-weight: 600;
                                                line-height: 20px;
                                                /* 142.857% */
                                                letter-spacing: 0.07px;
                                                color: #00a9bb;
                                                @include flexbox();
                                                align-items: center;
                                                justify-content: center;
                                                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                                                background-color: #e6f6f8;
                                                white-space: nowrap;
                                            }

                                            .scanBtn {
                                                @include flexbox();
                                                align-items: center;
                                                justify-content: center;
                                                cursor: pointer;
                                                padding: 10px 12px;
                                                height: 40px;
                                                border-radius: 8px;
                                                border: none;
                                                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                                                &:focus:not(:focus-visible) {
                                                    outline: none;
                                                }

                                                background-color: #00a9bb;
                                                color: $white;
                                                font-size: 14px;
                                                font-style: normal;
                                                font-weight: 600;
                                                line-height: 20px;
                                                /* 142.857% */
                                                letter-spacing: 0.07px;
                                                white-space: nowrap;
                                            }
                                        }
                                    }
                                }
                            }

                            .rightCol {
                                width: 60%;
                                margin-right: -10px;
                                margin-left: 10px;
                                @include flexbox();
                                &.preview {
                                    width: 80%;
                                }
                            }
                        }

                        .first_flexbox {
                            margin: 0 -10px 14px -10px;
                            .inputBox {
                                #productCode {
                                    color: #d1d5db;
                                    opacity: 0.7;
                                    cursor: not-allowed;
                                    &::placeholder {
                                        color: #d1d5db;
                                    }
                                }
                            }
                        }

                        .third_flexbox {
                            margin-bottom: 14px;
                            @include flexbox();
                            column-gap: 16px;

                            .leftCol {
                                width: 50%;

                                .title {
                                    text-align: left;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 16px;
                                    /* 133.333% */
                                    letter-spacing: 0.06px;
                                    color: $black;
                                    margin-top: 0;
                                    margin-bottom: 4px;
                                }

                                .flexbox {
                                    @include flexbox();
                                    flex-wrap: wrap;
                                    row-gap: 4px;
                                    margin: 0 -10px;

                                    .inputBox {
                                        @include flexbox();

                                        .inputField {
                                            .input_element {
                                                height: 36px;
                                            }
                                        }
                                    }
                                }
                            }

                            .rightCol {
                                width: 50%;

                                .title {
                                    text-align: left;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 16px;
                                    /* 133.333% */
                                    letter-spacing: 0.06px;
                                    color: $black;
                                    margin-top: 0;
                                    margin-bottom: 4px;
                                }

                                .flexbox {
                                    @include flexbox();
                                    flex-wrap: wrap;
                                    row-gap: 10px;
                                    margin: 0 -10px;

                                    .inputBox {
                                        @include flexbox();

                                        .inputField {
                                            .input_element {
                                                height: 36px;
                                            }

                                            .MuiInputBase-root {
                                                .MuiSelect-select {
                                                    height: 36px;
                                                    @include flexbox();
                                                    align-items: center;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .bottom_flexbox {
                            padding-top: 16px;
                            border-top: 1px solid #d1d5db;

                            .leftCol {
                                width: 60%;
                                @include flexbox();
                                flex-wrap: wrap;
                                row-gap: 10px;
                                margin: 0 -10px;

                                .inputBox {
                                    @include flexbox();

                                    .inputField {
                                        .input_element,
                                        .MuiSelect-select {
                                            height: 36px;
                                            @include flexbox();
                                            align-items: center;
                                        }
                                    }
                                }
                            }
                        }
                        .inputBox {
                            .inputField {
                                .form-error {
                                    margin-bottom: 0;
                                    position: relative;
                                    text-align: left;
                                }
                            }
                        }
                        &.preview_active {
                            .inputBox {
                                .inputField {
                                    > label {
                                        font-size: 16px;
                                        font-weight: 600;
                                        line-height: 24px;
                                        letter-spacing: 0.08px;
                                        font-style: normal;
                                    }
                                    .input_element {
                                        background-color: transparent;
                                        box-shadow: none;
                                        padding: 0;
                                        height: 24px !important;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 24px; /* 150% */
                                        letter-spacing: 0.08px; 
                                    }
                                    .form-error {
                                        display: none;
                                    }
                                    .MuiInputBase-root {
                                        .MuiSelect-select {
                                            &.Mui-disabled {
                                                background-color: transparent;
                                                box-shadow: none;
                                                color: #6b7280;
                                                -webkit-text-fill-color: #6b7280;
                                                padding: 0;
                                                @include flexbox();
                                                align-items: center;
                                                height: 24px !important;
                                                cursor: text;
                                                font-size: 16px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 24px; /* 150% */
                                                letter-spacing: 0.08px; 
                                            }
                                        }
                                        .MuiSvgIcon-root {
                                            display: none;
                                        }
                                    }
                                }
                                .barcode_box {
                                    .label {
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: 24px; /* 150% */
                                        letter-spacing: 0.08px;
                                        display: block;
                                        color: $text;
                                        text-align: left;
                                        margin-bottom: 4px;
                                    }
                                }
                            }
                            .first_flexbox {
                                row-gap: 30px;
                                position: relative;
                                padding-bottom: 20px;
                                border-bottom: 1px solid #d1d5db;
                                &::after {
                                    content: '';
                                    display: inline-block;
                                    position: absolute;
                                    left: 0;
                                    top: 45%;
                                    transform: translateY(-50%);
                                    width: 100%;
                                    height: 1px;
                                    background-color: #d1d5db;
                                }

                                .inputBox {
                                    &.manufacturer,
                                    &.productCode {
                                        width: 17%;
                                    }
                                    &.supplier,
                                    &.Product_Name {
                                        width: 20%;
                                    }
                                    &.genericName {
                                        width: 20%;
                                        margin-right: 20%;
                                    }
                                }
                            }
                            .second_flexbox {
                                position: relative;
                                padding-bottom: 20px;
                                border-bottom: 1px solid #d1d5db;
                                .leftCol {
                                    &.preview {
                                        width: 17%;
                                    }
                                }
                                .inputBox {
                                    width: 25%;
                                    &.barcode_section {
                                        width: 25%;
                                    }
                                }
                                .rightCol {
                                    &.preview {
                                        margin-left: 0;
                                    }
                                }
                            }
                        }
                    }

                    .eCommerceDetails-container {
                        box-sizing: border-box;

                        * {
                            box-sizing: border-box;
                            font-family: $font-monsterat;
                        }

                        .categoryLevelFlexbox {
                            @include flexbox();
                            margin-left: -10px;
                            margin-right: -10px;
                            margin-bottom: 10px;
                        }

                        .canDisplay {
                            text-align: left;

                            .MuiFormControl-root {
                                @include flexbox();
                                flex-direction: row;
                                align-items: center;

                                > .MuiFormLabel-root {
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 20px;
                                    /* 142.857% */
                                    letter-spacing: 0.07px;
                                    color: $text;
                                    margin-right: 10px;
                                }

                                .MuiFormGroup-root {
                                    @include flexbox();
                                    flex-direction: row;

                                    .MuiFormControlLabel-root {
                                        .MuiButtonBase-root {
                                            &.Mui-checked {
                                                color: rgb(34, 229, 145);
                                            }
                                        }

                                        .MuiTypography-root {
                                            font-size: 16px;
                                            font-style: normal;
                                            font-weight: 500;
                                            line-height: 24px;
                                            /* 150% */
                                            letter-spacing: 0.08px;
                                            color: $text;
                                        }
                                    }
                                }
                            }
                        }

                        .second_flexbox {
                            @include flexbox();
                            flex-wrap: wrap;
                            row-gap: 10px;
                            margin-bottom: 16px;
                            margin-left: -10px;
                            margin-right: -10px;
                        }

                        .bottom_flexbox {
                            padding-top: 16px;
                            border-top: 1px solid #d1d5db;
                            @include flexbox();
                            flex-wrap: wrap;
                            row-gap: 11.5px;
                            margin-left: -10px;
                            margin-right: -10px;
                        }

                        .actionFlexbox {
                            margin-top: 100px;
                        }

                        &.preview_active {
                            .canDisplay {
                                margin-bottom: 20px;
                                .MuiFormControl-root {
                                    .MuiFormLabel-root {
                                        color: rgb(34, 229, 145);
                                    }
                                    .MuiFormGroup-root {
                                        .MuiFormControlLabel-root {
                                            margin-left: 0;
                                            margin-right: 0;
                                            .MuiRadio-root,
                                            .MuiTypography-root {
                                                display: none;
                                            }
                                            .MuiRadio-root {
                                                &.Mui-checked {
                                                    + .MuiTypography-root {
                                                        display: inline-block;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .inputBox {
                                .inputField {
                                     > label{
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 600;
                                        line-height: 24px; /* 150% */
                                        letter-spacing: 0.08px;   
                                     }
                                     textarea{
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 24px; /* 150% */
                                        letter-spacing: 0.08px;      
                                     }
                                    .input_element {
                                        background-color: transparent;
                                        box-shadow: none;
                                        padding: 0;
                                        height: 24px !important;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 24px; /* 150% */
                                        letter-spacing: 0.08px;   
                                    }
                                    .form-error {
                                        display: none;
                                    }
                                    .MuiInputBase-root {
                                        .MuiSelect-select {
                                            &.Mui-disabled {
                                                background-color: transparent;
                                                box-shadow: none;
                                                color: #6b7280;
                                                -webkit-text-fill-color: #6b7280;
                                                padding: 0;
                                                @include flexbox();
                                                align-items: center;
                                                height: 24px !important;
                                                cursor: text;
                                                font-size: 16px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 24px; /* 150% */
                                                letter-spacing: 0.08px;  
                                            }
                                        }
                                        .MuiSvgIcon-root {
                                            display: none;
                                        }
                                    }
                                }
                            }
                            .categoryLevelFlexbox {
                                padding-bottom: 10px;
                                border-bottom: 1px solid #d1d5db;
                                margin-bottom: 20px;
                            }
                            .second_flexbox {
                                row-gap: 30px;
                                position: relative;
                                // padding-bottom: 20px;
                                // border-bottom: 1px solid #D1D5DB;
                                &::after {
                                    content: '';
                                    display: inline-block;
                                    position: absolute;
                                    left: 0;
                                    top: 45%;
                                    transform: translateY(-50%);
                                    width: 100%;
                                    height: 1px;
                                    background-color: #d1d5db;
                                }
                            }
                            .bottom_flexbox {
                                row-gap: 30px;
                                position: relative;
                                padding-bottom: 20px;
                                // border-bottom: 1px solid #D1D5DB;
                                &::after {
                                    content: '';
                                    display: inline-block;
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    width: 100%;
                                    height: 1px;
                                    background-color: #d1d5db;
                                }
                            }
                        }
                    }

                    .actionFlexbox {
                        margin-top: 8px;
                        @include flexbox();
                        align-items: center;
                        justify-content: space-between;

                        .draftBtn {
                            width: 114px;
                            height: 48px;
                            border: none;
                            cursor: pointer;

                            &:focus:not(:focus-visible) {
                                outline: none;
                            }

                            border-radius: 8px;
                            padding: 14px 16px;
                            white-space: nowrap;
                            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                            color: #00a9bb;
                            background-color: #e6f6f8;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 20px;
                            /* 142.857% */
                            letter-spacing: 0.07px;
                            @include flexbox();
                            align-items: center;
                            justify-content: center;
                        }

                        .rightCol {
                            @include flexbox();
                            align-items: center;
                            column-gap: 20px;
                            margin-bottom: -1px;

                            .canceltBtn {
                                cursor: pointer;

                                &:focus:not(:focus-visible) {
                                    outline: none;
                                }

                                border: 1px solid #00a9bb;
                                color: #00a9bb;
                                height: 48px;
                                padding: 14px 16px;
                                border-radius: 8px;
                                white-space: nowrap;
                                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                                @include flexbox();
                                align-items: center;
                                justify-content: center;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 20px;
                                /* 142.857% */
                                letter-spacing: 0.07px;
                                white-space: nowrap;
                                background-color: transparent;
                                width: 114px;
                            }

                            .nextBtn {
                                @include flexbox();
                                align-items: center;
                                justify-content: center;
                                height: 48px;
                                padding: 14px 16px;
                                border-radius: 8px;
                                cursor: pointer;

                                &:focus:not(:focus-visible) {
                                    outline: none;
                                }

                                border: none;
                                background-color: #00a9bb;
                                color: $white;
                                font-size: 14px;
                                width: 114px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 20px;
                                /* 142.857% */
                                letter-spacing: 0.07px;
                                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                            }
                        }
                    }

                    .uploadProduct_container {
                        height: 100%;

                        .section_title {
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 20px;
                            /* 142.857% */
                            letter-spacing: 0.07px;
                            color: $text;
                            margin-top: 0;
                            margin-bottom: 10px;
                        }

                        .uploadBox {
                            width: 100%;
                            margin-bottom: 60px;
                            max-width: 672px;
                            height: 162px;
                            border-radius: 12px;
                            padding: 48px;
                            background-color: $white;
                            border: 1px dashed #e5e7eb;
                            @include flexbox();
                            align-items: center;
                            justify-content: center;

                            .uploadInfo {
                                margin: 0;
                                @include flexbox();
                                flex-direction: column;
                                align-items: center;
                                cursor: pointer;

                                .title {
                                    text-align: center;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 24px;
                                    /* 150% */
                                    letter-spacing: 0.08px;
                                    color: $text;
                                    @include flexbox();
                                    justify-content: center;
                                    margin: 0 0 4px 0;

                                    .blue {
                                        display: inline-block;
                                        color: #00a9bb;
                                        margin-left: 5px;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 600;
                                        line-height: 24px;
                                        /* 150% */
                                        letter-spacing: 0.08px;
                                    }
                                }

                                .maxlimit {
                                    display: block;
                                    text-align: center;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 20px;
                                    /* 142.857% */
                                    letter-spacing: 0.07px;
                                    color: #9ca3af;
                                    width: 100%;
                                    max-width: 228px;
                                }
                            }

                            &.uploaded {
                                height: auto;
                                background-color: transparent;
                                border: none;
                                max-width: initial;
                                column-gap: 20px;
                                padding: 0;
                                justify-content: flex-start;
                                align-items: stretch;

                                // align-items: flex-start;
                                .dropzone {
                                    width: calc(20% - 0px);
                                    background-color: $white;
                                    border-radius: 12px;
                                    @include flexbox();
                                    align-items: center;
                                    justify-content: center;
                                }

                                .thumbnail {
                                    width: calc(20% - 0px);
                                    background-color: $white;
                                    border-radius: 12px;
                                    padding: 2px 23px;
                                    @include flexbox();
                                    position: relative;
                                    aspect-ratio: 203/142;

                                    .close {
                                        cursor: pointer;
                                        display: inline-flex;
                                        position: absolute;
                                        right: 10px;
                                        top: 6px;
                                        width: 16px;
                                        height: 16px;
                                    }

                                    .upload-img {
                                        max-width: 100%;
                                        height: auto;
                                    }
                                }
                            }
                            &.uploadError {
                                margin-bottom: 0;
                            }
                        }

                        .errorBox {
                            margin-bottom: 60px;
                            margin-top: 20px;
                            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                            background-color: #fee2e2;
                            border: 1px solid #fecaca;
                            border-radius: 12px;
                            padding: 16px;
                            max-width: 672px;
                            width: 100%;

                            .container {
                                column-gap: 20px;
                                margin: 0;
                                @include flexbox();
                                align-items: flex-start;
                                .icon {
                                    display: inline-flex;
                                }

                                .text {
                                    display: inline-block;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 28px;
                                    /* 155.556% */
                                    letter-spacing: 0.09px;
                                    color: #991b1b;
                                    text-align: left;
                                }
                            }
                        }

                        .button_actions {
                            margin-top: auto;
                            @include flexbox();
                            align-items: center;
                            justify-content: space-between;
                            min-width: 114px;
                            .saveDraftBtn {
                                border: none;
                                cursor: pointer;
                                height: 48px;
                                &:focus:not(:focus-visible) {
                                    outline: none;
                                }
                                white-space: nowrap;
                                padding: 14px 16px;
                                border-radius: 8px;
                                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                                background-color: #e6f6f8;
                                color: #00a9bb;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 20px;
                                letter-spacing: 0.07px;
                            }
                            .action_flexContainer {
                                @include flexbox();
                                align-items: center;
                                justify-content: space-between;
                                column-gap: 20px;
                                margin-bottom: 1px;
                                .cancelBtn {
                                    border: none;
                                    cursor: pointer;
                                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                                    border: 1px solid #00a9bb;
                                    border-radius: 8px;
                                    height: 48px;
                                    white-space: nowrap;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 20px; /* 142.857% */
                                    letter-spacing: 0.07px;
                                    padding: 14px 16px;
                                    background-color: transparent;
                                    color: #00a9bb;
                                    min-width: 114px;
                                }
                                .addProductBtn {
                                    background-color: #00a9bb;
                                    min-width: 150px;
                                    cursor: pointer;
                                    &:focus:not(:focus-visible) {
                                        outline: none;
                                    }
                                    height: 48px;
                                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                                    border-radius: 8px;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 20px; /* 142.857% */
                                    letter-spacing: 0.07px;
                                    color: $white;
                                    border: none;
                                }
                            }
                        }
                        &.preview_active {
                            .section_title{
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 24px; /* 150% */
                                letter-spacing: 0.08px;
                                margin-bottom: 16px;      
                            }
                            .uploadFlexbox {
                                #dropzone {
                                    cursor: not-allowed;
                                    .dropzone {
                                        cursor: not-allowed;
                                        .uploadInfo {
                                            cursor: not-allowed;
                                        }
                                    }
                                    .thumbnail {
                                        .close {
                                            cursor: not-allowed;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .inputField {
                        label {
                            font-weight: 600;
                        }
                        .MuiSelect-select {
                            color: #6b7280;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1500px) {
    .inputBox {
        @include flexbox();

        &.lg-15 {
            width: 15%;
        }

        &.lg-10 {
            width: 10%;
        }

        &.lg-40 {
            width: 40%;
        }

        &.lg-50 {
            width: 50%;
        }

        &.lg-20 {
            width: 20%;
        }

        &.lg-25 {
            width: 25%;
        }

        &.lg-30 {
            width: 33.33%;
        }
    }
    .addNewProduct_container{
        .container_section {
            .tabsContainer{
                .tabContentContainer{
                    .MuiBox-root{
                        .productDetail_container{
                            &.preview_active{
                                .first_flexbox{
                                    .inputBox{
                                        &.supplier{
                                            width: 15%;
                                            ~ .inputBox {
                                                width: 15%;
                                            }
                                        } &.Product_Name {
                                            width: 15%;
                                        }
                                    }
                                }
                                .second_flexbox{
                                    .rightCol{
                                        &.preview{
                                            .barcode_section {
                                                width: 18%;
                                                ~ .inputBox {
                                                    width: 19%;
                                                }
                                            }
                                        }
                                    }
                                        
                                    
                                }
                               
                            }
                            .third_flexbox{
                                column-gap: 6%;
                                .leftCol{
                                    width: 35%;
                                }
                                .rightCol{
                                    width: 40%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }      
}

@media screen and (max-width: 1499px) {
    .inputBox {
        @include flexbox();

        &.sm-10 {
            width: 10%;
        }

        &.sm-15 {
            width: 15%;
        }

        &.sm-40 {
            width: 40%;
        }

        &.sm-50 {
            width: 50%;
        }

        &.sm-20 {
            width: 20%;
        }

        &.sm-25 {
            width: 25%;
        }

        &.sm-30 {
            width: 33.33%;
        }
    }
}
