@import "../../../../../BaseStyle/Basestyle.scss";

$white: #FFF;
$black: #000;
$text: #1F2937;
$buttonColor: #00A9BB;

$font-monsterat : 'Montserrat';

.salepurchase_dashboard {
    box-sizing: border-box;

    * {
        box-sizing: border-box;
        font-family: $font-monsterat;
    }

    .upperStatus_flexbox {
        @include flexbox();
        column-gap: 12px;
        margin-bottom: 12px;

        .selectYear {
            width: 12%;

            .label {
                display: block;
                text-align: left;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                /* 142.857% */
                letter-spacing: 0.07px;
                color: $text;
                margin-bottom: 8px;
            }
        }

        .totalData_flexbox {
            width: 21%;
            position: relative;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -1px -7px 7px 0px #FFF;
            border-radius: 6px;
            padding: 12px 16px 12px 20px;
            @include flexbox();
            justify-content: space-between;
            align-items: center;
            &:nth-child(3){
                &::before{
                    background-color: #5ada86;
                }
            }
            &::before {
                content: '';
                display: inline-block;
                position: absolute;
                left: 0;
                top: 0;
                width: 8px;
                height: 100%;
                background-color: #009859;
                border-radius: 6px 0px 0px 6px;
            }

            .icon_block {
                width: 64px;
                height: 64px;
                border-radius: 50%;
                @include flexbox();
                align-items: center;
                justify-content: center;
                background-color: #009859;
            }

            .info {
                .title {
                    margin-top: 0;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                    /* 142.857% */
                    letter-spacing: 0.07px;
                    color: #4B5563;
                    margin-bottom: 4px;
                    text-align: right;
                }

                .value {
                    display: block;
                    text-align: right;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 28px;
                    /* 147.368% */
                    letter-spacing: 0.095px;
                    color: #009859;
                }
            }

        }

        .license_info {
            width: 25%;
            border-radius: 4.455px;
            padding: 11.9px;
            box-shadow: 0px 2.97px 2.97px 0px rgba(0, 0, 0, 0.25), -0.742px -5.197px 5.197px 0px #FFF;
            height: 105px;
            @include flexbox();
            align-items: center;
            justify-content: center;

            .msg {
                margin: 0;
                @include flexbox();
                align-items: flex-start;

                .alert_icon {
                    display: inline-flex;
                    margin-right: 8px;

                    svg {
                        g {
                            path {
                                stroke: #F87171;
                            }
                        }
                    }

                }

                .text {
                    display: inline-flex;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    /* 142.857% */
                    letter-spacing: 0.07px;
                    color: #F87171;
                    text-align: left;
                }
            }

        }
    }

    .draggable_flexContainer {
        @include flexbox();
        // align-items: flex-start;
        row-gap: 12px;
        flex-wrap: wrap;
        width: 100%;
        position: relative;

        .salechannel, .returnGoods {
            width: calc(17% - 12px);
            margin: 0 6px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -1px -7px 7px 0px #FFF;
            border-radius: 12px;
            padding: 12px;
            background-color: #F2F5FA;
            position: relative;
            z-index: 2;

            .max-view {
                @include flexbox();
                justify-content: flex-end;

                .maximize {
                    width: 8px;
                    height: 8px;
                    display: inline-flex;
                    cursor: pointer;
                }
            }

            .chart_container {
                margin: 0 -12px;
                // width: 100%;
                @include flexbox();
                align-items: center;
                justify-content: center;
                // transform: scale(1.5) translateY(8px);
                // canvas{
                //     width: 100% !important;
                //     height: 100% !important;

                // }
            }

            .section_title {
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                /* 142.857% */
                letter-spacing: 0.07px;
                color: $text;
                margin: 8px 0px 8px 0px;
            }

            .indicator_info {
                margin-top:0px;
                margin-bottom: 0;
                padding: 0;
                width: 90%;
                margin-left: auto;
                margin-right: auto;

                .indicator_item {
                    @include flexbox();
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 4px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .text {
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 16px;
                        /* 133.333% */
                        letter-spacing: 0.06px;
                        display: block;
                        text-align: left;
                        color: $text;
                        margin-left: 10px;
                    }

                    .circle {
                        display: inline-block;
                        border-radius: 50%;
                        width: 8px;
                        height: 8px;

                        &.dark-green {
                            background-color: #007746;
                        }

                        &.off-green {
                            background-color: rgb(0 152 89);
                        }

                        &.off-gray {
                            background-color: #E5E7EB;
                        }
                    }


                }

            }
        }

        .salemonth {
            @include flexbox();
            margin: 0 6px;
            flex-direction: column;
            justify-content: space-between;
            width: calc(41.5% - 12px);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -1px -7px 7px 0px #FFF;
            border-radius: 12px;
            padding: 12px;
            background-color: #F2F5FA;
            position: relative;
            z-index: 2;

            .max-view {
                @include flexbox();
                justify-content: flex-end;

                .maximize {
                    width: 8px;
                    height: 8px;
                    display: inline-flex;
                    cursor: pointer;
                }
            }

            .chart_container {
                @include flexbox();
                align-items: center;
                justify-content: center;

                canvas {
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            .head_flexbox {
                margin-bottom: auto;
                @include flexbox();
                align-items: center;
                justify-content: space-between;
                margin-bottom: 8px;
                margin-top: 8px;
                .section_title {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                    /* 142.857% */
                    letter-spacing: 0.07px;
                    color: $text;
                    margin: 0px 0px;
                }
                .selectMonthBox{
                    width: 104px;
                    .inputField {
                        margin:0;
                        .MuiSelect-select{
                            height: 40px;
                            padding-top: 12px;
                            padding-bottom: 12px;
                            // box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
                            border: 1px solid #E5E7EB;

                        }
                    }
                }
            }
            .indicator{
                margin-bottom: 8px;
                @include flexbox();
                align-items: center;
                span{
                display: inline-block;
                &.mark{
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    &.green{
                        background-color:#007746;
                    }
                }
                &.text{
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px; /* 133.333% */
                    letter-spacing: 0.06px;
                    color: #6B7280;
                    margin-left: 4px
                }
                }
            }
        }

        .salegrowth{
            @include flexbox();
            margin: 0 6px;
            flex-direction: column;
            justify-content: space-between;
            width: calc(82% - 12px);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -1px -7px 7px 0px #FFF;
            border-radius: 12px;
            padding: 12px;
            background-color: #F2F5FA;
            position: relative;
            z-index: 2;

            .max-view {
                @include flexbox();
                justify-content: flex-end;

                .maximize {
                    width: 8px;
                    height: 8px;
                    display: inline-flex;
                    cursor: pointer;
                }
            }

            .chart_container {
                @include flexbox();
                align-items: center;
                justify-content: center;
                max-height:180px ;
                height: 100%;
                canvas {
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            .head_flexbox {
                margin-bottom: auto;
                @include flexbox();
                align-items: center;
                justify-content: space-between;
                margin-bottom: 8px;
                margin-top: 8px;
                .section_title {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                    /* 142.857% */
                    letter-spacing: 0.07px;
                    color: $text;
                    margin: 0px 0px;
                }
                .selectMonthBox{
                    width: 104px;
                    .inputField {
                        margin:0;
                        .MuiSelect-select{
                            height: 40px;
                            padding-top: 12px;
                            padding-bottom: 12px;
                            // box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
                            border: 1px solid #E5E7EB;

                        }
                    }
                }
            }
        }

        .saleProduct {
            margin: 0 6px;
            @include flexbox();
            flex-direction: column;
            justify-content: space-between;
            width: calc(41.5% - 12px);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -1px -7px 7px 0px #FFF;
            border-radius: 12px;
            padding: 12px;
            background-color: #F2F5FA;
            position: relative;
            z-index: 2;

            .max-view {
                @include flexbox();
                justify-content: flex-end;

                .maximize {
                    width: 8px;
                    height: 8px;
                    display: inline-flex;
                    cursor: pointer;
                }
            }

            .section_title {
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                /* 142.857% */
                letter-spacing: 0.07px;
                color: $text;
                margin: 8px 0px;
                text-align: left;
                margin-bottom: auto
            }

            .chart_container {
                @include flexbox();
                align-items: center;
                justify-content: center;

                canvas {
                    width: 100% !important;
                    height: 100% !important;
                }
            }
        }

        .saleLeaders {
            margin: 0 6px;
            @include flexbox();
            flex-direction: column;
            justify-content: space-between;
            width: calc(35% - 12px);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -1px -7px 7px 0px #FFF;
            border-radius: 12px;
            padding: 12px;
            position: relative;
            background-color: #F2F5FA;
            z-index: 2;

            .headerFlebox {
                @include flexbox();
                justify-content: space-between;
                align-items: center;
                margin-bottom: 7px;

                .title {
                    margin: 0;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                    /* 142.857% */
                    letter-spacing: 0.07px;
                    color: $text;
                }

                .options {
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -1px -7px 7px 0px #FFF;
                    background-color: #F2F5FA;
                    border-radius: 8px;
                    width: 44px;
                    height: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    cursor: pointer;

                    &:focus:not(:focus-visible) {
                        outline: none;
                    }
                }
            }

            .saleLeader_listing {
                margin: 0 0 auto 0;
                max-height: 240px;
                overflow-y: auto;
                scrollbar-width: thin;
                padding:  2px;
                .list_item {
                    list-style: none;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -1px -7px 7px 0px #FFF;
                    border-radius: 12px;
                    margin-bottom: 6px;
                    padding: 4px 8px;

                    &:last-child {
                        margin-bottom: 0
                    }

                    .flex_container {
                        @include flexbox();

                        .profile_img {
                            width: 46px;
                            height: 46px;
                            border-radius: 50%;
                            margin-right: 8px;

                            .icon {
                                width: 100%;
                                max-width: 100%;
                                height: 100%;
                                border-radius: 50%;
                            }
                        }

                        .sale_info {
                            width: calc(100% - 54px);

                            .upper_flexbox {
                                margin-bottom: 4px;
                                @include flexbox();
                                align-items: center;
                                justify-content: space-between;

                                .title {
                                    margin: 0;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 20px;
                                    /* 142.857% */
                                    letter-spacing: 0.07px;
                                    color: #33B981;
                                }

                                .position {
                                    display: inline-block;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 16px;
                                    /* 133.333% */
                                    letter-spacing: 0.06px;
                                    color: $black;
                                }
                            }

                            .bottom-flexbox {
                                .turnover_info {
                                    margin: 0;
                                    padding: 0;

                                    .item {
                                        list-style: none;
                                        @include flexbox();
                                        align-items: center;
                                        justify-content: space-between;
                                        width: 100%;

                                        .dataBlock {
                                            @include flexbox();
                                            align-items: center;
                                            width: 30%;

                                            span {
                                                display: inline-block;

                                                &.label {
                                                    font-size: 12px;
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    line-height: 16px;
                                                    /* 133.333% */
                                                    letter-spacing: 0.06px;
                                                    color: #6B7280;
                                                }

                                                &.value {
                                                    font-size: 12px;
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    line-height: 16px;
                                                    /* 133.333% */
                                                    letter-spacing: 0.06px;
                                                    color: #030712;
                                                    margin-left: 4px;
                                                }
                                            }
                                        }

                                        .gmValue {
                                            width: 20%;
                                            display: inline-block;
                                            font-size: 12px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: 16px;
                                            /* 133.333% */
                                            letter-spacing: 0.06px;
                                            color: $black;
                                        }

                                        .ratingPercent {
                                            width: 20%;
                                            @include flexbox();
                                            align-items: center;
                                            font-size: 12px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: 16px;
                                            /* 133.333% */
                                            letter-spacing: 0.06px;
                                            color: #EAB308;

                                            .icon {
                                                display: inline-block;
                                                margin-right: 4px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .salecategory {
            margin: 0 6px;
            @include flexbox();
            flex-direction: column;
            justify-content: space-between;
            width: calc(65% - 12px);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -1px -7px 7px 0px #FFF;
            border-radius: 12px;
            padding: 12px;
            position: relative;
            background-color: #F2F5FA;
            z-index: 2;
            .max-view {
                @include flexbox();
                justify-content: flex-end;

                .maximize {
                    width: 8px;
                    height: 8px;
                    display: inline-flex;
                    cursor: pointer;
                }
            }
            .head_flexbox {
                margin-bottom: auto;
                @include flexbox();
                align-items: center;
                justify-content: space-between;
                margin-bottom: 8px;
                margin-top: 8px;
                .section_title {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                    /* 142.857% */
                    letter-spacing: 0.07px;
                    color: $text;
                    margin: 0px 0px;
                }
                .selectMonthBox{
                    width: 104px;
                    .inputField {
                        margin:0;
                        .MuiSelect-select{
                            height: 40px;
                            padding-top: 12px;
                            padding-bottom: 12px;
                            // box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
                            border: 1px solid #E5E7EB;

                        }
                    }
                }
            }
            .chart_container{
                max-height: 235px;
                height: 100%;
                canvas{
                    width: 100% !important;
                    height: 100% !important;
                }
            }
        }
    }
}


@media screen and (min-width:1600px) {
    .salepurchase_dashboard {
        .draggable_flexContainer {
            .salechannel, .returnGoods {
                width: calc(13% - 12px);
            }

            .salemonth,
            .saleProduct {
                width: calc(32.3% - 12px);
            }

            .saleLeaders {
                width: calc(22% - 12px);
            }
            .salecategory, .salegrowth {
                width: calc(43.5% - 12px);
                .chart_container{
                    max-height: 230px;
                }
            }
        }
    }
}