@import "../../../BaseStyle/Basestyle.scss";

$white: #FFF;
$black: #000;
$text: #1F2937;
$buttonColor: #00A9BB;

$font-monsterat : 'Montserrat';

.personalInformation_container {
    box-sizing: border-box;
    position: relative;
    z-index: 2;

    * {
        box-sizing: border-box;
        font-family: $font-monsterat;
    }

    .header_flex {
        @include flexbox();
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        .title {
            margin: 0;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
            /* 133.333% */
            letter-spacing: 0.12px;
            color: $text;
        }

        .edit_btn {
            border: 1px solid #00A9BB;
            color: #00A9BB;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -1px -7px 7px 0px #FFF;
            border-radius: 8px;
            height: 48px;
            width: 86px;
            @include flexbox();
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:focus:not(:focus-visible) {
                outline: none;
            }

            background-color: transparent;

            .icon {
                width: 14px;
                height: 14px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
            }

            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0.07px;
        }
    }

    .body_section {
        .tabsBlock {
            .MuiTabs-root {
                .MuiTabs-scroller {
                    overflow-x: auto !important;
                    scrollbar-width: thin;

                    .MuiTabs-flexContainer {
                        .MuiButtonBase-root {
                            text-transform: capitalize;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 20px;
                            /* 142.857% */
                            letter-spacing: 0.07px;
                            color: #6B7280;
                            padding: 8px 12px;
                            font-family: $font-monsterat;
                            border-bottom: 2px solid #E5E7EB;

                            &.Mui-selected {
                                color: #00A9BB;
                            }
                        }
                    }

                    .MuiTabs-indicator {
                        background-color: #00A9BB;
                    }
                }
            }

            .tabdataBlock {
                width: 100%;

                .MuiBox-root {
                    padding: 20px 0px 0px 0px;

                    .socialProfile_container {
                        .form_container {
                            .input_flexbox {
                                .icon_holder {
                                    width: 50px;
                                    height: 48px;
                                    border-right: 1px solid #E5E7EB;
                                    @include flexbox();
                                    align-items: center;
                                    justify-content: center;
                                    position: absolute;
                                }
                                .icon_holder + .input_element {
                                    padding: 14px 60px;
                                }
                            }
                        }
                    }

                    .form_container {
                        .input_flexbox {
                            @include flexbox();
                            margin: 0 -10px 36px -10px;
                            width: 100%;
                        }

                        .button-container {
                            @include flexbox();
                            justify-content: flex-end;

                            .cancelBtn {
                                width: 80px;
                                color: $text;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 20px;
                                /* 142.857% */
                                letter-spacing: 0.07px;
                                box-shadow: 0px 2px 5px 2px inset rgba(0, 0, 0, 0.05);
                                border-radius: 8px;
                                border: 1px solid #E5E7EB;
                                background-color: #F2F5FA;
                                padding: 14px 16px;
                                height: 48px;
                                cursor: pointer;
                                margin-right: 20px;
                                @include flexbox();
                                align-items: center;
                                justify-content: center;

                                &:focus:not(:focus-visible) {
                                    outline: none;
                                }
                            }

                            .savebtn {
                                width: 66px;
                                height: 48px;
                                padding: 14px 16px;
                                @include flexbox();
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                                border: none;
                                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -1px -7px 7px 0px #FFF;
                                border-radius: 8px;
                                background-color: #00A9BB;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 20px;
                                /* 142.857% */
                                letter-spacing: 0.07px;
                                color: $white;

                                &:focus:not(:focus-visible) {
                                    outline: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}